<!DOCTYPE html>
<html>
	<head>
		<title>LESS IS MORE</title>
		<link rel="stylesheet/less" type="text/css" href="styles.less">
		<script>
			less = {
				env: "development",
				async: false,
				fileAsync: false,
				poll: 1000,
				functions: {},
				dumpLineNumbers: "comments",
				relativeUrls: false,
				rootpath: ":/a.com/"
			};
		</script>
		<script type="text/javascript" src="less-1.7.4.min.js"></script>
	</head>
	<body>
		<aside>
			<h1>Words to live by.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<footer>Bruce Willis</footer>
		</aside>
	</body>
</html>