{% extends "template.html" %}
{% block content %}
	<header>
		{% if not session.logged_in %}
			<a id="login" href="{{ url_for('login') }}">log in</a>
		{% else %}
			<a id="logout" href="{{ url_for('logout') }}">log out</a>
		{% endif %}
	</header>
	<div class="main">
		<div class="container">
			<div class="inner">
				<h1>Gutenberg Glossary</h1>
				<form method="post" action="">
					<input type="text" class="query" name="query"><input type="submit" value="search" class="search">
				</form>
			</div>
		</div>
	</div>
{% endblock %}